@use 'base/variables' as var;
@use 'base/mixins' as mix;

.categories {
    background-color: var.$lightGrey;
    padding: 5rem 0;

    &__heading {
        text-align: center;
        margin: 0;
        color: var.$grey;
    }

    &__grid {
        margin-top: 5rem;

        @include mix.grid(1, 4rem);

        @include mix.tablet { 
            @include mix.grid(2, 2rem);
        }

        @include mix.desktop { 
            @include mix.grid(3, 2rem);
        }
    }
}

.category {
    &__name {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }
}